*.iml
.gradle
/local.properties
.idea
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/copyright/
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
.gitsecret/keys/random_seed
!*.secret
upload-keystore.jks
signing.properties
google-play-service-account.json
.kotlin
