name: Deploy

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Import GPG key for git-secret
        run: echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --import --batch --yes
      - name: Install git-secret
        run: sudo apt-get install git-secret
      - name: Decrypt secrets
        run: git secret reveal -f
      - name: Deploy production version
        run: ./gradlew publishReleaseBundle --track production --release-status completed
      - uses: actions/upload-artifact@v3
        with:
          name: Android artifacts
          path: |
            app/build/outputs/apk/**/*.apk
            app/build/outputs/bundle/**/*.aab
        if: always()

  increment-version:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v3
      - name: Increment version code
        run: sed -i 's/versionCode = [0-9]*/versionCode = '$(awk '/versionCode =/{print $3=$3+1}' app/build.gradle.kts)'/g' app/build.gradle.kts
      - name: Commit changes
        run: |
          git config --global user.name 'Sven Jacobs'
          git config --global user.email 'github@svenjacobs.com'
          git commit -am '[skip ci] Increment version code for next release'
          git push
